<app-header></app-header>
<div *ngIf="!isbooked;else elseBlock">
    <app-searchpage (onshow)="showBooking($event)"></app-searchpage>
</div>
<ng-template #elseBlock>
    <div class="card col-12 col-md-4 offset-md-4 mt-5">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Details</h5>
          <div class="card-text">
            <p>Vehicle Number:{{bookingdata.vnumber}} </p>
            <p>Vehicle Type: {{bookingdata.vtype}} </p>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Site Details</h5>
          <div class="card-text">
            <p>Sitecode:{{bookingdata.sitecode}} </p>
            <p>Name: {{bookingdata.sitename}} </p>
            <p>Street/Colony: {{bookingdata.lane}} </p>
            <p>Area: {{bookingdata.area}} </p>
            <p>{{bookingdata.place}}-{{bookingdata.pincode}}</p>
          </div>
        </div>
      </div> -->
</ng-template>